.project {
  height: 560px;

  span {
    margin: auto;
    font-size: 3rem;
  }

  .container {
    position: relative;
    width: 320px;
    perspective: 1000px;
    margin: 50px auto;
  }

  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* 도는 속도 */
    animation: rotate360 40s infinite forwards linear;
  }
  .carousel:hover {
    cursor: pointer;
    animation-play-state: paused;
  }

  .carousel__face {
    position: absolute;
    // 사이즈 변경함
    width: 187px;
    height: 300px;
    top: 20px;
    left: 0px;
    right: 0px;
    background-size: cover;
    // box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 10px;
    background-color: aquamarine;
  }
  //   애니메이션 rotate360(애니메인션명)의 중간상태 지정용
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}
