.slogan {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 100px auto 10px;
  text-align: left;
  height: 800px;

  .slo_title {
    font-size: 3rem;
    line-height: 170%;
    .slo_key {
      color: #18cccc;
    }

    .slo_sub {
      position: absolute;
      top: 200px;
      left: 10%;
      color: rgb(162, 182, 201);
      font-size: 1.7rem;
    }
  }
  .slide-enter-active {
    transition: all 0.4s ease;
  }
  .slide-enter {
    transform: translateX(-100%);
  }
}
