.slogan {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: 200px auto 10px;
  text-align: left;

  .slo_title {
    font-size: 3rem;

    .slo_key {
      color: rgb(22, 116, 204);
    }
  }
  .slide-enter-active {
    transition: transform 0.4s ease;
  }
  .slide-enter {
    transform: translateX(100%);
  }
}
